
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-900);
}

.dark body {
  background-color: var(--color-zinc-950);
  color: var(--color-zinc-100);
}

